In [17]:
import pandas as pd

sisaire = pd.read_csv(r'Datos_PowerBI/datos_completos_con_interpolacion.csv', sep=';', decimal=',')
sisaire.head()

,Unnamed: 0,Estacion,Localidad,Fecha,Año,CO,NO2,O3,PM10,PM25,SO2,Latitud,Longitud
0,610175,ANTONIO NARIÑO,ANTONIO NARIÑO,2020-01-01 01:00:00,2020,371.543649,23.571106,14.214449,46.937984,39.243602,1.624660,NaN,NaN
1,61465,CDAR,BARRIOS UNIDOS,2020-01-01 01:00:00,2020,1144.900000,18.804000,17.069400,8.300000,8.000000,1.309300,4.658466,-74.083960
2,610173,CANDELARIA,CANDELARIA,2020-01-01 01:00:00,2020,442.922959,31.631491,19.734890,41.763258,56.704934,1.315912,NaN,NaN
3,610178,CHAPINERO,CHAPINERO,2020-01-01 01:00:00,2020,885.784991,21.967158,14.201956,17.724889,25.456865,1.379125,NaN,NaN
4,82191,LAS FERIAS,ENGATIVA,2020-01-01 01:00:00,2020,686.940000,31.778760,9.810000,23.548148,65.000000,NaN,4.690700,-74.082483

In [18]:
sisaire = sisaire.drop(columns=["Latitud", "Longitud", "Unnamed: 0"])

sisaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 771153 entries, 0 to 771152
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Estacion   771153 non-null  object
 1   Localidad  771153 non-null  object
 2   Fecha      771153 non-null  object
 3   Año        771153 non-null  int64
 4   CO         771153 non-null  float64
 5   NO2        771153 non-null  float64
 6   O3         771153 non-null  float64
 7   PM10       771153 non-null  float64
 8   PM25       771153 non-null  float64
 9   SO2        601674 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 58.8+ MB

In [19]:
sisaire.head()

,Estacion,Localidad,Fecha,Año,CO,NO2,O3,PM10,PM25,SO2
0,ANTONIO NARIÑO,ANTONIO NARIÑO,2020-01-01 01:00:00,2020,371.543649,23.571106,14.214449,46.937984,39.243602,1.624660
1,CDAR,BARRIOS UNIDOS,2020-01-01 01:00:00,2020,1144.900000,18.804000,17.069400,8.300000,8.000000,1.309300
2,CANDELARIA,CANDELARIA,2020-01-01 01:00:00,2020,442.922959,31.631491,19.734890,41.763258,56.704934,1.315912
3,CHAPINERO,CHAPINERO,2020-01-01 01:00:00,2020,885.784991,21.967158,14.201956,17.724889,25.456865,1.379125
4,LAS FERIAS,ENGATIVA,2020-01-01 01:00:00,2020,686.940000,31.778760,9.810000,23.548148,65.000000,NaN

In [ ]:
sisaire = sisaire.round(4)
sisaire.type()

TypeError: 'Series' object is not callable

In [21]:
sisaire.to_csv('SISAIRE-COMBINED.csv', sep=";", decimal='.', index=False)