In [62]:
import pandas as pd

In [63]:
df = pd.read_csv('Datos_PowerBI/IBOCA-total.csv', sep=';')
df.head()

,Estacion,Localidad,Fecha,Año,IBOCA PM10,IBOCA PM2.5
0,CDAR,Barrios Unidos,2020-01-01 00:00:00,2020,14.81,49.58
1,Carvajal - Sevillana,Kennedy,2020-01-01 00:00:00,2020,36.11,74.30
2,Fontibon,Fontibon,2020-01-01 00:00:00,2020,25.00,59.09
3,Guaymaral,Suba,2020-01-01 00:00:00,2020,18.52,50.31
4,Kennedy,Kennedy,2020-01-01 00:00:00,2020,27.78,77.73

In [64]:
df.value_counts(["Estacion"]).sort_index()

Estacion
Bolivia                 29965
CDAR                    34336
Carvajal - Sevillana    34336
Ciudad BolÃ­var          4417
Ciudad Bolívar          25544
Ciudad BolГ­var         13251
Colina                  21201
Fontibon                34336
Guaymaral               34336
JazmÃ­n                  4417
Jazmín                  25544
JazmГ­n                 13251
Kennedy                 34336
Las Ferias              34336
MinAmbiente             34336
MÃ³vil 7ma               4417
Móvil 7ma               29913
Móvil Fontibón          21199
MГіvil 7ma              13251
MГіvil FontibГіn         8834
Puente Aranda           34336
San Cristobal           34336
Suba                    34336
Tunal                   34336
Usaquen                 34336
Usme                    29965
Name: count, dtype: int64

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657201 entries, 0 to 657200
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Estacion     657201 non-null  object
 1   Localidad    595363 non-null  object
 2   Fecha        657201 non-null  object
 3   Año          657201 non-null  int64
 4   IBOCA PM10   549584 non-null  float64
 5   IBOCA PM2.5  550663 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 30.1+ MB

In [66]:
df.value_counts(dropna = False, normalize = True)

Estacion              Localidad       Fecha                Año   IBOCA PM10  IBOCA PM2.5
Las Ferias            Engativá        2020-07-01 00:00:00  2020  21.30       50.10          0.000006
Usaquen               Usaquen         2023-07-01 00:00:00  2023  7.41        17.08          0.000006
Ciudad Bolívar        Ciudad Bolívar  2023-07-01 00:00:00  2023  13.89       18.75          0.000006
Carvajal - Sevillana  Kennedy         2022-07-01 00:00:00  2022  NaN         NaN            0.000006
Guaymaral             Suba            2022-07-01 00:00:00  2022  NaN         NaN            0.000006
                                                                                              ...
                                      2022-06-23 00:00:00  2022  36.11       50.96          0.000002
                                      2022-06-23 01:00:00  2022  35.19       50.10          0.000002
                                      2022-06-23 02:00:00  2022  35.19       50.74          0.000002
                                      2022-06-23 03:00:00  2022  36.11       51.81          0.000002
Usme                  Usme            2023-12-01 00:00:00  2023  NaN         NaN            0.000002
Name: proportion, Length: 657021, dtype: float64

In [67]:
(df.isnull().sum() / df.shape[0]).sort_values(ascending = False)

IBOCA PM10     0.163751
IBOCA PM2.5    0.162109
Localidad      0.094093
Estacion       0.000000
Fecha          0.000000
Año            0.000000
dtype: float64

In [68]:
df[df['Localidad'].isna()]

,Estacion,Localidad,Fecha,Año,IBOCA PM10,IBOCA PM2.5
56793,Ciudad BolÃ­var,NaN,2020-07-01 00:00:00,2020,NaN,NaN
56794,Ciudad BolГ­var,NaN,2020-07-01 00:00:00,2020,NaN,NaN
56803,JazmÃ­n,NaN,2020-07-01 00:00:00,2020,NaN,NaN
56804,JazmГ­n,NaN,2020-07-01 00:00:00,2020,NaN,NaN
56817,MÃ³vil 7ma,NaN,2020-07-01 00:00:00,2020,42.59,NaN
...,...,...,...,...,...,...
504791,MГіvil FontibГіn,NaN,2022-12-31 23:00:00,2022,50.60,NaN
504802,Ciudad BolГ­var,NaN,2023-01-01 00:00:00,2023,55.64,NaN
504807,JazmГ­n,NaN,2023-01-01 00:00:00,2023,37.04,NaN
504813,MГіvil 7ma,NaN,2023-01-01 00:00:00,2023,44.44,NaN
504814,MГіvil FontibГіn,NaN,2023-01-01 00:00:00,2023,50.10,NaN

In [69]:
df['Estacion'].unique()

array(['CDAR', 'Carvajal - Sevillana', 'Fontibon', 'Guaymaral', 'Kennedy',
       'Las Ferias', 'MinAmbiente', 'Móvil 7ma', 'Puente Aranda',
       'San Cristobal', 'Suba', 'Tunal', 'Usaquen', 'Bolivia',
       'Ciudad BolÃ\xadvar', 'Ciudad BolГ\xadvar', 'JazmÃ\xadn',
       'JazmГ\xadn', 'MÃ³vil 7ma', 'MГіvil 7ma', 'Usme', 'Ciudad Bolívar',
       'Jazmín', 'Colina', 'Móvil Fontibón', 'MГіvil FontibГіn'],
      dtype=object)

In [70]:
df['Estacion'] = df['Estacion'].replace({"Ciudad BolÃ\xadvar": "CIUDAD BOLIVAR", "Ciudad BolГ\xadvar": "CIUDAD BOLIVAR",
                                         "JazmÃ\xadn": "JAZMIN", "JazmГ\xadn": "JAZMIN", "MÃ³vil 7ma": "MOVIL 7MA", 
                                         "MГіvil 7ma": "MOVIL 7MA", "MГіvil FontibГіn": "MOVIL FONTIBON"})

In [71]:
df['Estacion'] = (
    df['Estacion']
      .str.upper()
      .str.normalize('NFKD')
      .str.encode('ascii', errors='ignore')
      .str.decode('utf-8')
)
df['Estacion'].unique()

array(['CDAR', 'CARVAJAL - SEVILLANA', 'FONTIBON', 'GUAYMARAL', 'KENNEDY',
       'LAS FERIAS', 'MINAMBIENTE', 'MOVIL 7MA', 'PUENTE ARANDA',
       'SAN CRISTOBAL', 'SUBA', 'TUNAL', 'USAQUEN', 'BOLIVIA',
       'CIUDAD BOLIVAR', 'JAZMIN', 'USME', 'COLINA', 'MOVIL FONTIBON'],
      dtype=object)

In [72]:
localidades = {
    'BOGOTA RURAL - MOCHUELO':'FONTIBON',
    'BOLIVIA': 'ENGATIVA',
    'BOSA':'BOSA',
    'CARVAJAL - SEVILLANA': 'KENNEDY',
    'CDAR':'BARRIOS UNIDOS',
    'CIUDAD BOLIVAR': 'CIUDAD BOLIVAR',
    'COLINA':"SUBA",
    'FONTIBON': 'FONTIBON',
    'GUAYMARAL': 'SUBA',
    'JAZMIN': 'PUENTE ARANDA',
    'KENNEDY': 'KENNEDY',
    'LAS FERIAS': 'ENGATIVA',
    'MINAMBIENTE':'SANTA FE',
    'MOCHUELO - COLEGIO':'CIUDAD BOLIVAR',
    'MOVIL 7MA': 'CHAPINERO',
    'MOVIL FONTIBON':'FONTIBON',
    'P_CAMI - FONTIBON':'FONTIBON',
    'PUENTE ARANDA': 'PUENTE ARANDA',
    'SAN CRISTOBAL': 'SAN CRISTOBAL',
    'SUBA': 'SUBA',
    'TUNAL': 'TUNJUELITO',
    'USAQUEN': 'USAQUEN', 
    'USME': 'USME'
}
df['Localidad'] = df['Estacion'].map(localidades)
df['Localidad'].unique()

array(['BARRIOS UNIDOS', 'KENNEDY', 'FONTIBON', 'SUBA', 'ENGATIVA',
       'SANTA FE', 'CHAPINERO', 'PUENTE ARANDA', 'SAN CRISTOBAL',
       'TUNJUELITO', 'USAQUEN', 'CIUDAD BOLIVAR', 'USME'], dtype=object)

In [73]:
df[df['Localidad'].isna()]

Empty DataFrame
Columns: [Estacion, Localidad, Fecha, Año, IBOCA PM10, IBOCA PM2.5]
Index: []

In [74]:
df.head()

,Estacion,Localidad,Fecha,Año,IBOCA PM10,IBOCA PM2.5
0,CDAR,BARRIOS UNIDOS,2020-01-01 00:00:00,2020,14.81,49.58
1,CARVAJAL - SEVILLANA,KENNEDY,2020-01-01 00:00:00,2020,36.11,74.30
2,FONTIBON,FONTIBON,2020-01-01 00:00:00,2020,25.00,59.09
3,GUAYMARAL,SUBA,2020-01-01 00:00:00,2020,18.52,50.31
4,KENNEDY,KENNEDY,2020-01-01 00:00:00,2020,27.78,77.73

In [75]:
df[df.duplicated(subset=['Estacion','Fecha'], keep='first')]
df = df.drop_duplicates()

In [76]:
df[df.duplicated(subset=['Estacion','Fecha'], keep=False)]

,Estacion,Localidad,Fecha,Año,IBOCA PM10,IBOCA PM2.5
56817,MOVIL 7MA,CHAPINERO,2020-07-01 00:00:00,2020,42.59,NaN
56818,MOVIL 7MA,CHAPINERO,2020-07-01 00:00:00,2020,42.59,67.66
56819,MOVIL 7MA,CHAPINERO,2020-07-01 00:00:00,2020,NaN,67.66
56853,MOVIL 7MA,CHAPINERO,2020-07-01 01:00:00,2020,43.52,NaN
56854,MOVIL 7MA,CHAPINERO,2020-07-01 01:00:00,2020,NaN,68.30
...,...,...,...,...,...,...
504835,SAN CRISTOBAL,SAN CRISTOBAL,2023-01-01 00:00:00,2023,42.59,95.50
504836,SUBA,SUBA,2023-01-01 00:00:00,2023,27.78,65.52
504837,TUNAL,TUNJUELITO,2023-01-01 00:00:00,2023,47.22,95.50
504838,USAQUEN,USAQUEN,2023-01-01 00:00:00,2023,30.56,70.87
504839,USME,USME,2023-01-01 00:00:00,2023,47.22,79.23

In [77]:
# Contar cuántos datos no nulos tiene cada fila
df['non_null_count'] = df.notna().sum(axis=1)

# Para cada Estación + Fecha quedarse con la fila más completa
df = df.sort_values('non_null_count', ascending=False)
df = df.drop_duplicates(subset=['Estacion','Fecha'], keep='first')

# Quitar la columna auxiliar
df = df.drop(columns='non_null_count')

In [78]:
df.groupby('Estacion').count()

                      Localidad  Fecha    Año  IBOCA PM10  IBOCA PM2.5
Estacion
BOLIVIA                   29953  29953  29953       26747        27039
CARVAJAL - SEVILLANA      34321  34321  34321       29874        29647
CDAR                      34321  34321  34321       33959        33661
CIUDAD BOLIVAR            29953  29953  29953       22514        21028
COLINA                    21193  21193  21193       16555        18377
FONTIBON                  34321  34321  34321       33215        33223
GUAYMARAL                 34321  34321  34321       33665        33585
JAZMIN                    29953  29953  29953       18943        17400
KENNEDY                   34321  34321  34321       32713        32966
LAS FERIAS                34321  34321  34321       33359        33170
MINAMBIENTE               34321  34321  34321       33123        33584
MOVIL 7MA                 34321  34321  34321       28920        25562
MOVIL FONTIBON            21193  21193  21193       13898        10223
PUENTE ARANDA             34321  34321  34321       31133        33573
SAN CRISTOBAL             34321  34321  34321       33022        32731
SUBA                      34321  34321  34321       31966        32271
TUNAL                     34321  34321  34321       32239        32740
USAQUEN                   34321  34321  34321       29500        30545
USME                      29953  29953  29953       20254        16957

In [79]:
(df.isnull().sum() / df.shape[0]).sort_values(ascending = False)

IBOCA PM2.5    0.131645
IBOCA PM10     0.119618
Estacion       0.000000
Localidad      0.000000
Fecha          0.000000
Año            0.000000
dtype: float64

In [80]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Estacion, Localidad, Fecha, Año, IBOCA PM10, IBOCA PM2.5]
Index: []

In [83]:
df[df.isna().any(axis=1)]

,Estacion,Localidad,Fecha,Año,IBOCA PM10,IBOCA PM2.5
109265,CIUDAD BOLIVAR,CIUDAD BOLIVAR,2020-10-18 06:00:00,2020,NaN,36.67
267336,COLINA,SUBA,2021-09-26 11:00:00,2021,NaN,40.00
262257,JAZMIN,PUENTE ARANDA,2021-09-17 06:00:00,2021,NaN,17.50
109224,CIUDAD BOLIVAR,CIUDAD BOLIVAR,2020-10-18 04:00:00,2020,33.33,NaN
554541,TUNAL,TUNJUELITO,2023-04-20 00:00:00,2023,NaN,94.86
...,...,...,...,...,...,...
131568,JAZMIN,PUENTE ARANDA,2020-12-03 17:00:00,2020,NaN,NaN
131580,USME,USME,2020-12-03 17:00:00,2020,NaN,NaN
131588,JAZMIN,PUENTE ARANDA,2020-12-03 18:00:00,2020,NaN,NaN
131600,USME,USME,2020-12-03 18:00:00,2020,NaN,NaN
657200,USME,USME,2023-12-01 00:00:00,2023,NaN,NaN

In [82]:
df.head()

,Estacion,Localidad,Fecha,Año,IBOCA PM10,IBOCA PM2.5
0,CDAR,BARRIOS UNIDOS,2020-01-01 00:00:00,2020,14.81,49.58
424999,LAS FERIAS,ENGATIVA,2022-08-09 10:00:00,2022,11.11,28.33
424989,CDAR,BARRIOS UNIDOS,2022-08-09 10:00:00,2022,11.11,26.67
424990,CARVAJAL - SEVILLANA,KENNEDY,2022-08-09 10:00:00,2022,53.12,83.51
424993,COLINA,SUBA,2022-08-09 10:00:00,2022,12.96,17.08

In [90]:
df = df.sort_values(['Localidad', 'Estacion', 'Fecha'])

df[['IBOCA PM10','IBOCA PM2.5']] = (
    df.groupby(['Localidad','Estacion'])[['IBOCA PM10','IBOCA PM2.5']]
      .apply(lambda g: g.ffill().bfill())
      .reset_index(level=[0,1], drop=True)
)

In [91]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Estacion, Localidad, Fecha, Año, IBOCA PM10, IBOCA PM2.5, PM10, PM2.5]
Index: []

In [92]:
(df.isnull().sum() / df.shape[0]).sort_values(ascending = False)

Estacion       0.0
Localidad      0.0
Fecha          0.0
Año            0.0
IBOCA PM10     0.0
IBOCA PM2.5    0.0
PM10           0.0
PM2.5          0.0
dtype: float64

In [93]:
df.to_csv("Datos_PowerBI/IBOCA-total-imputed.csv", index=False, sep=";", decimal=",")