In [2]:
import pandas as pd

In [11]:
iboca = pd.read_excel(r'Datos_aire/IBOCA/IBOCA-PM10-2020-1.xlsx', skiprows=4)
iboca.head()

,Unnamed: 0,Carvajal - Sevillana,Unnamed: 2,Unnamed: 3,CDAR,Unnamed: 5,Unnamed: 6,Fontibon,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Suba,Unnamed: 32,Unnamed: 33,Tunal,Unnamed: 35,Unnamed: 36,Usaquen,Unnamed: 38,Unnamed: 39
0,Fecha & Hora,PM10 µg/m3,NaN,NaN,PM10 µg/m3,NaN,NaN,PM10 µg/m3,NaN,NaN,...,NaN,PM10 µg/m3,NaN,NaN,PM10 µg/m3,NaN,NaN,PM10 µg/m3,NaN,NaN
1,NaN,Concentración,Media móvil,IBOCA,Concentración,Media móvil,IBOCA,Concentración,Media móvil,IBOCA,...,IBOCA,Concentración,Media móvil,IBOCA,Concentración,Media móvil,IBOCA,Concentración,Media móvil,IBOCA
2,2020-01-01 00:00:00,24,39,36.11,11,16,14.81,25,27,25,...,27.78,2,39,36.11,35,39,36.11,6,12,11.11
3,2020-01-01 01:00:00,27,39,36.11,11,15,13.89,30,27,25,...,28.7,67,40,37.04,45,38,35.19,13,12,11.11
4,2020-01-01 02:00:00,27,39,36.11,8,15,13.89,42,28,25.93,...,29.63,66,42,38.89,57,39,36.11,12,12,11.11

In [12]:
iboca = iboca.iloc[:-3]
iboca.tail(20)

,Unnamed: 0,Carvajal - Sevillana,Unnamed: 2,Unnamed: 3,CDAR,Unnamed: 5,Unnamed: 6,Fontibon,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Suba,Unnamed: 32,Unnamed: 33,Tunal,Unnamed: 35,Unnamed: 36,Usaquen,Unnamed: 38,Unnamed: 39
4351,2020-06-30 05:00:00,78,42,38.89,8,5,4.63,25,17,15.74,...,9.26,38,19,17.59,8,4,3.7,Sin data,Sin data,Sin data
4352,2020-06-30 06:00:00,111,46,42.59,7,5,4.63,36,18,16.67,...,10.19,71,21,19.44,6,5,4.63,Sin data,Sin data,Sin data
4353,2020-06-30 07:00:00,99,49,45.37,13,6,5.56,50,20,18.52,...,12.04,40,23,21.3,6,5,4.63,Sin data,Sin data,Sin data
4354,2020-06-30 08:00:00,96,51,47.22,24,6,5.56,77,23,21.3,...,12.96,31,23,21.3,13,5,4.63,Sin data,Sin data,Sin data
4355,2020-06-30 09:00:00,93,53,49.07,22,7,6.48,71,26,24.07,...,13.89,36,24,22.22,23,6,5.56,Sin data,Sin data,Sin data
4356,2020-06-30 10:00:00,93,55,50.1,33,8,7.41,60,28,25.93,...,14.81,35,25,23.15,20,6,5.56,Sin data,Sin data,Sin data
4357,2020-06-30 11:00:00,38,10,9.26,64,30,27.78,27,19,17.59,...,6.48,Sin data,Sin data,Sin data,Sin data,Sin data,Sin data,Sin data,Sin data,Sin data
4358,2020-06-30 12:00:00,105,59,52.12,36,11,10.19,41,31,28.7,...,Sin data,34,27,25,34,9,8.33,Sin data,Sin data,Sin data
4359,2020-06-30 13:00:00,72,60,52.62,36,13,12.04,37,33,30.56,...,Sin data,30,28,25.93,Sin data,9,8.33,Sin data,Sin data,Sin data
4360,2020-06-30 14:00:00,31,14,12.96,33,34,31.48,32,23,21.3,...,Sin data,29,29,26.85,Sin data,9,8.33,Sin data,Sin data,Sin data
4361,2020-06-30 15:00:00,89,64,54.64,34,15,13.89,34,35,32.41,...,Sin data,42,30,27.78,Sin data,9,8.33,Sin data,Sin data,Sin data
4362,2020-06-30 16:00:00,137,69,57.16,27,16,14.81,39,36,33.33,...,Sin data,26,30,27.78,Sin data,9,8.33,Sin data,Sin data,Sin data
4363,2020-06-30 17:00:00,82,72,58.67,20,17,15.74,38,37,34.26,...,Sin data,28,31,28.7,Sin data,10,9.26,Sin data,Sin data,Sin data
4364,2020-06-30 18:00:00,68,73,59.17,27,17,15.74,38,38,35.19,...,Sin data,40,33,30.56,Sin data,10,9.26,Sin data,Sin data,Sin data
4365,2020-06-30 19:00:00,85,75,60.18,31,19,17.59,36,39,36.11,...,24.07,34,Sin data,Sin data,43,34,31.48,Sin data,10,9.26
4366,2020-06-30 20:00:00,93,78,61.69,28,20,18.52,36,40,37.04,...,25,34,Sin data,Sin data,38,35,32.41,Sin data,11,10.19
4367,2020-06-30 21:00:00,81,80,62.7,28,21,19.44,43,40,37.04,...,25,37,Sin data,Sin data,35,35,32.41,Sin data,11,10.19
4368,2020-06-30 22:00:00,76,81,63.21,39,22,20.37,81,42,38.89,...,25.93,32,Sin data,Sin data,43,36,33.33,Sin data,12,11.11
4369,2020-06-30 23:00:00,116,84,64.72,35,23,21.3,71,43,39.81,...,25.93,31,41,37.96,49,37,34.26,Sin data,13,12.04
4370,2020-07-01 00:00:00,72,84,64.72,42,25,23.15,53,44,40.74,...,26.85,39,41,37.96,32,37,34.26,Sin data,13,12.04

In [13]:
#iboca = iboca.rename(columns={'Unnamed: 0': 'Fecha'})

TO-DO datos:
- unificar por localidad (media)
- pasar a filas con columnas: fechas, localidad, datos de aire
-

In [14]:
cols = iboca.columns
print(cols)

Index(['Unnamed: 0', 'Carvajal - Sevillana', 'Unnamed: 2', 'Unnamed: 3',
       'CDAR', 'Unnamed: 5', 'Unnamed: 6', 'Fontibon', 'Unnamed: 8',
       'Unnamed: 9', 'Guaymaral', 'Unnamed: 11', 'Unnamed: 12', 'Kennedy',
       'Unnamed: 14', 'Unnamed: 15', 'Las Ferias', 'Unnamed: 17',
       'Unnamed: 18', 'MinAmbiente', 'Unnamed: 20', 'Unnamed: 21', 'Móvil 7ma',
       'Unnamed: 23', 'Unnamed: 24', 'Puente Aranda', 'Unnamed: 26',
       'Unnamed: 27', 'San Cristobal', 'Unnamed: 29', 'Unnamed: 30', 'Suba',
       'Unnamed: 32', 'Unnamed: 33', 'Tunal', 'Unnamed: 35', 'Unnamed: 36',
       'Usaquen', 'Unnamed: 38', 'Unnamed: 39'],
      dtype='object')

In [15]:
new_cols = {'Unnamed: 0': 'Fecha'}
medida = ['Concentracion', 'NowCast', 'IBOCA']
#prev_name = cols[1]
#i = 0
for col in cols[1:]:
    if 'Unnamed' not in col:
        prev_name = col
        i = 0
    new_name = prev_name + " " + medida[i]
    i += 1
    new_cols[col] = new_name
print(new_cols)

{'Unnamed: 0': 'Fecha', 'Carvajal - Sevillana': 'Carvajal - Sevillana Concentracion', 'Unnamed: 2': 'Carvajal - Sevillana NowCast', 'Unnamed: 3': 'Carvajal - Sevillana IBOCA', 'CDAR': 'CDAR Concentracion', 'Unnamed: 5': 'CDAR NowCast', 'Unnamed: 6': 'CDAR IBOCA', 'Fontibon': 'Fontibon Concentracion', 'Unnamed: 8': 'Fontibon NowCast', 'Unnamed: 9': 'Fontibon IBOCA', 'Guaymaral': 'Guaymaral Concentracion', 'Unnamed: 11': 'Guaymaral NowCast', 'Unnamed: 12': 'Guaymaral IBOCA', 'Kennedy': 'Kennedy Concentracion', 'Unnamed: 14': 'Kennedy NowCast', 'Unnamed: 15': 'Kennedy IBOCA', 'Las Ferias': 'Las Ferias Concentracion', 'Unnamed: 17': 'Las Ferias NowCast', 'Unnamed: 18': 'Las Ferias IBOCA', 'MinAmbiente': 'MinAmbiente Concentracion', 'Unnamed: 20': 'MinAmbiente NowCast', 'Unnamed: 21': 'MinAmbiente IBOCA', 'Móvil 7ma': 'Móvil 7ma Concentracion', 'Unnamed: 23': 'Móvil 7ma NowCast', 'Unnamed: 24': 'Móvil 7ma IBOCA', 'Puente Aranda': 'Puente Aranda Concentracion', 'Unnamed: 26': 'Puente Aranda NowCast', 'Unnamed: 27': 'Puente Aranda IBOCA', 'San Cristobal': 'San Cristobal Concentracion', 'Unnamed: 29': 'San Cristobal NowCast', 'Unnamed: 30': 'San Cristobal IBOCA', 'Suba': 'Suba Concentracion', 'Unnamed: 32': 'Suba NowCast', 'Unnamed: 33': 'Suba IBOCA', 'Tunal': 'Tunal Concentracion', 'Unnamed: 35': 'Tunal NowCast', 'Unnamed: 36': 'Tunal IBOCA', 'Usaquen': 'Usaquen Concentracion', 'Unnamed: 38': 'Usaquen NowCast', 'Unnamed: 39': 'Usaquen IBOCA'}

In [16]:
iboca = iboca.rename(columns=new_cols)
iboca = iboca.iloc[2:]
iboca = iboca.replace('Sin data', 'NaN')

C:\Users\laura\AppData\Local\Temp\ipykernel_1192\1675617760.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')

,Fecha,Carvajal - Sevillana Concentracion,Carvajal - Sevillana NowCast,Carvajal - Sevillana IBOCA,CDAR Concentracion,CDAR NowCast,CDAR IBOCA,Fontibon Concentracion,Fontibon NowCast,Fontibon IBOCA,...,San Cristobal IBOCA,Suba Concentracion,Suba NowCast,Suba IBOCA,Tunal Concentracion,Tunal NowCast,Tunal IBOCA,Usaquen Concentracion,Usaquen NowCast,Usaquen IBOCA
2,2020-01-01 00:00:00,24,39,36.11,11,16,14.81,25,27,25,...,27.78,2,39,36.11,35,39,36.11,6,12,11.11
3,2020-01-01 01:00:00,27,39,36.11,11,15,13.89,30,27,25,...,28.7,67,40,37.04,45,38,35.19,13,12,11.11
4,2020-01-01 02:00:00,27,39,36.11,8,15,13.89,42,28,25.93,...,29.63,66,42,38.89,57,39,36.11,12,12,11.11
5,2020-01-01 03:00:00,49,40,37.04,13,15,13.89,45,29,26.85,...,30.56,126,44,40.74,93,42,38.89,9,12,11.11
6,2020-01-01 04:00:00,78,42,38.89,15,15,13.89,46,30,27.78,...,30.56,71,46,42.59,69,44,40.74,8,12,11.11

In [17]:
iboca.head(10)

,Fecha,Carvajal - Sevillana Concentracion,Carvajal - Sevillana NowCast,Carvajal - Sevillana IBOCA,CDAR Concentracion,CDAR NowCast,CDAR IBOCA,Fontibon Concentracion,Fontibon NowCast,Fontibon IBOCA,...,San Cristobal IBOCA,Suba Concentracion,Suba NowCast,Suba IBOCA,Tunal Concentracion,Tunal NowCast,Tunal IBOCA,Usaquen Concentracion,Usaquen NowCast,Usaquen IBOCA
2,2020-01-01 00:00:00,24,39,36.11,11,16,14.81,25,27,25,...,27.78,2,39,36.11,35,39,36.11,6,12,11.11
3,2020-01-01 01:00:00,27,39,36.11,11,15,13.89,30,27,25,...,28.7,67,40,37.04,45,38,35.19,13,12,11.11
4,2020-01-01 02:00:00,27,39,36.11,8,15,13.89,42,28,25.93,...,29.63,66,42,38.89,57,39,36.11,12,12,11.11
5,2020-01-01 03:00:00,49,40,37.04,13,15,13.89,45,29,26.85,...,30.56,126,44,40.74,93,42,38.89,9,12,11.11
6,2020-01-01 04:00:00,78,42,38.89,15,15,13.89,46,30,27.78,...,30.56,71,46,42.59,69,44,40.74,8,12,11.11
7,2020-01-01 05:00:00,78,43,39.81,20,15,13.89,44,31,28.7,...,30.56,59,47,43.52,73,45,41.67,16,12,11.11
8,2020-01-01 06:00:00,73,44,40.74,20,16,14.81,41,31,28.7,...,29.63,55,48,44.44,60,45,41.67,19,12,11.11
9,2020-01-01 07:00:00,65,44,40.74,18,16,14.81,54,32,29.63,...,28.7,57,47,43.52,45,45,41.67,15,13,12.04
10,2020-01-01 08:00:00,67,44,40.74,22,16,14.81,82,32,29.63,...,27.78,59,46,42.59,69,46,42.59,13,13,12.04
11,2020-01-01 09:00:00,57,43,39.81,41,17,15.74,74,33,30.56,...,26.85,57,45,41.67,61,45,41.67,18,13,12.04

In [18]:
iboca.columns

Index(['Fecha', 'Carvajal - Sevillana Concentracion',
       'Carvajal - Sevillana NowCast', 'Carvajal - Sevillana IBOCA',
       'CDAR Concentracion', 'CDAR NowCast', 'CDAR IBOCA',
       'Fontibon Concentracion', 'Fontibon NowCast', 'Fontibon IBOCA',
       'Guaymaral Concentracion', 'Guaymaral NowCast', 'Guaymaral IBOCA',
       'Kennedy Concentracion', 'Kennedy NowCast', 'Kennedy IBOCA',
       'Las Ferias Concentracion', 'Las Ferias NowCast', 'Las Ferias IBOCA',
       'MinAmbiente Concentracion', 'MinAmbiente NowCast', 'MinAmbiente IBOCA',
       'Móvil 7ma Concentracion', 'Móvil 7ma NowCast', 'Móvil 7ma IBOCA',
       'Puente Aranda Concentracion', 'Puente Aranda NowCast',
       'Puente Aranda IBOCA', 'San Cristobal Concentracion',
       'San Cristobal NowCast', 'San Cristobal IBOCA', 'Suba Concentracion',
       'Suba NowCast', 'Suba IBOCA', 'Tunal Concentracion', 'Tunal NowCast',
       'Tunal IBOCA', 'Usaquen Concentracion', 'Usaquen NowCast',
       'Usaquen IBOCA'],
      dtype='object')

In [ ]:
localidades = {
    'Bolivia': 'Engativá',
    'Carvajal - Sevillana': 'Kennedy',
    'CDAR':'Barrios Unidos',
    'Ciudad Bolívar': 'Ciudad Bolívar',
    'Colina': 'Suba',
    'Fontibon': 'Fontibon',
    'Guaymaral': 'Suba',
    'Jazmín': 'Puente Aranda',
    'Kennedy': 'Kennedy',
    'Las Ferias': 'Engativá',
    'MinAmbiente':'Santa Fe',
    'Móvil 7ma': 'Chapinero',
    'Móvil Fontibón': 'Fontibon',
    'Puente Aranda': 'Puente Aranda',
    'San Cristobal': 'San Cristobal',
    'Suba': 'Suba',
    'Tunal': 'Tunjuelito',
    'Usaquen': 'Usaquen', 
    'Usme': 'Usme'
}

In [22]:
iboca2 = iboca

iboca2['Fecha'] = pd.to_datetime(iboca2['Fecha'])
iboca2['Año'] = iboca2['Fecha'].dt.year

cols_conc = [c for c in iboca2.columns if 'Concentracion' in c]

iboca2_long = iboca2.melt(
    id_vars=['Fecha', 'Año'],
    value_vars=cols_conc,
    var_name='Estacion',
    value_name='Concentracion'
)

iboca2_long['Estacion'] = iboca2_long['Estacion'].str.replace(' Concentracion', '', regex=False)
iboca2_long['Localidad'] = iboca2_long['Estacion'].map(localidades)

iboca2_long.head()

                Fecha   Año              Estacion Concentracion Localidad
0 2020-01-01 00:00:00  2020  Carvajal - Sevillana            24   Kennedy
1 2020-01-01 01:00:00  2020  Carvajal - Sevillana            27   Kennedy
2 2020-01-01 02:00:00  2020  Carvajal - Sevillana            27   Kennedy
3 2020-01-01 03:00:00  2020  Carvajal - Sevillana            49   Kennedy
4 2020-01-01 04:00:00  2020  Carvajal - Sevillana            78   Kennedy

In [34]:
def process_file(path):
    iboca = pd.read_excel(path, skiprows=4)
    iboca = iboca.iloc[:-3]
    cols = iboca.columns
    new_cols = {'Unnamed: 0': 'Fecha'}
    medida = ['Concentracion', 'NowCast', 'IBOCA']
    #prev_name = cols[1]
    #i = 0
    for col in cols[1:]:
        if 'Unnamed' not in col:
            prev_name = col
            i = 0
        new_name = prev_name + " " + medida[i]
        i += 1
        new_cols[col] = new_name
    iboca = iboca.rename(columns=new_cols)
    iboca = iboca.iloc[2:]
    iboca = iboca.replace('Sin data', 'NaN')
    iboca['Fecha'] = pd.to_datetime(iboca['Fecha'])
    iboca['Año'] = iboca['Fecha'].dt.year

    cols_conc = [c for c in iboca.columns if 'Concentracion' in c]

    iboca_long = iboca.melt(
        id_vars=['Fecha', 'Año'],
        value_vars=cols_conc,
        var_name='Estacion',
        value_name='Concentracion'
    )
    iboca_long['Estacion'] = iboca_long['Estacion'].str.replace(' Concentracion', '', regex=False)
    iboca_long['Localidad'] = iboca_long['Estacion'].map(localidades)
    
    iboca_long = iboca_long[['Estacion', 'Localidad', 'Fecha', 'Año', 'Concentracion']]
    return iboca_long

def save_csv_iboca(pathpm10_1, pathpm25_1, pathpm10_2, pathpm25_2, name):
    pm10_1 = process_file(pathpm10_1)
    pm10_2 = process_file(pathpm10_2)
    pm25_1 = process_file(pathpm25_1)
    pm25_2 = process_file(pathpm25_2)

    pm10 = pd.concat([pm10_1, pm10_2], ignore_index=True)
    pm10 = pm10.rename(columns={'Concentracion': 'Concentracion PM10'})
    
    pm25 = pd.concat([pm25_1, pm25_2], ignore_index=True)
    pm25 = pm25.rename(columns={'Concentracion': 'Concentracion PM2.5'})
    
    
    merged = pd.merge(pm10, pm25, on=['Fecha', 'Año', 'Estacion', 'Localidad'], how='outer')

    merged = merged[['Estacion', 'Localidad', 'Fecha', 'Año', 'Concentracion PM10', 'Concentracion PM2.5']]
    merged.to_csv(name, index=False) 

save_csv_iboca(r'Datos_aire/IBOCA/IBOCA-PM10-2020-1.xlsx', r'Datos_aire/IBOCA/IBOCA-PM25-2020-1.xlsx', r'Datos_aire/IBOCA/IBOCA-PM10-2020-2.xlsx', r'Datos_aire/IBOCA/IBOCA-PM25-2020-2.xlsx','datos_aire_procesados/IBOCA/IBOCA-2020.csv')

C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')

In [35]:
save_csv_iboca(r'Datos_aire/IBOCA/IBOCA-PM10-2021-1.xlsx', r'Datos_aire/IBOCA/IBOCA-PM25-2021-1.xlsx', r'Datos_aire/IBOCA/IBOCA-PM10-2021-2.xlsx', r'Datos_aire/IBOCA/IBOCA-PM25-2021-2.xlsx','datos_aire_procesados/IBOCA/IBOCA-2021.csv')
save_csv_iboca(r'Datos_aire/IBOCA/IBOCA-PM10-2022-1.xlsx', r'Datos_aire/IBOCA/IBOCA-PM25-2022-1.xlsx', r'Datos_aire/IBOCA/IBOCA-PM10-2022-2.xlsx', r'Datos_aire/IBOCA/IBOCA-PM25-2022-2.xlsx','datos_aire_procesados/IBOCA/IBOCA-2022.csv')
save_csv_iboca(r'Datos_aire/IBOCA/IBOCA-PM10-2023-1.xlsx', r'Datos_aire/IBOCA/IBOCA-PM25-2023-1.xlsx', r'Datos_aire/IBOCA/IBOCA-PM10-2023-2.xlsx', r'Datos_aire/IBOCA/IBOCA-PM25-2023-2.xlsx','datos_aire_procesados/IBOCA/IBOCA-2023.csv')

C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')
C:\Users\laura\AppData\Local\Temp\ipykernel_1192\2688807490.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iboca = iboca.replace('Sin data', 'NaN')

# Cambios de delimitador en archivos Power BI

In [16]:
df = pd.read_csv(r"Datos_PowerBI\SISAIRE-MODIFIED-COMPLETE-IMPUTED.csv")
#df.replace({
#    "CIUDAD BOLIVAR": "CIUDAD BOLÍVAR",
#    "ENGATIVA": "ENGATIVÁ",
#    "FONTIBON": "FONTIBÓN"
#}, inplace=True)
# Guardar con punto y coma como delimitador y coma como decimal
df.to_csv(r"Datos_PowerBI\SISAIRE-MODIFIED-COMPLETE-IMPUTED-FIXED.csv", sep=';', decimal=',', index=False)

In [17]:
df = pd.read_csv(r"Datos_PowerBI\SISAIRE-MODIFIED-COMPLETE.csv")

# Guardar con punto y coma como delimitador y coma como decimal
df.to_csv(r"Datos_PowerBI\SISAIRE-MODIFIED-COMPLETE-FIXED.csv", sep=';', decimal=',', index=False)

In [23]:
df = pd.read_csv(r"Datos_aire\Datos POWER BI\SISAIRE-MODIFIED-COMPLETE-IMPUTED-FIXED.csv", sep=';')

In [24]:
df.columns
df['Localidad'].unique()

array(['USME', 'ENGATIVÁ', 'BOSA', 'KENNEDY', 'BARRIOS UNIDOS',
       'CIUDAD BOLIVAR', 'PUENTE ARANDA', 'SANTA FE', 'SUBA', 'TUNJELITO',
       'USAQUEN', 'SAN CRISTOBAL', 'FONTIBÓN'], dtype=object)

In [15]:
df3 = pd.read_csv("datos_ninos/obs_aire_menores5anos.csv",encoding='ISO8859-1', sep=";")
df3['Localidad'].unique()

array(['Antonio Nariño', 'Barrios Unidos', 'Bosa', 'Candelaria',
       'Chapinero', 'Ciudad Bolívar', 'Engativá', 'Fontibón', 'Kennedy',
       'Mártires', 'Puente Aranda', 'Rafael Uribe', 'San Cristóbal',
       'Santa Fe', 'Suba', 'Teusaquillo', 'Tunjuelito', 'Usaquén', 'Usme',
       'Sumapaz'], dtype=object)

In [33]:
df2 = pd.read_csv(r"Datos_PowerBI/obs_aire_menores5anos_procesado.csv")
df2.replace({"ENGATIVÁ": "ENGATIVA","FONTIBÓN": "FONTIBON","TUNJELITO": "TUNJUELITO"}, inplace=True)

In [35]:
df2['Localidad'].unique()
df2.to_csv(r"Datos_PowerBI/obs_aire_menores5anos_procesado_fixed.csv", sep=';', decimal=',', index=False)

In [ ]:
'ENGATIVÁ', 'FONTIBÓN', 'TUNJUELITO',

In [1]:
import json

with open("localidades.json", encoding="utf-8") as f:
    data = json.load(f)

# Accede al objeto de geometrías (la estructura puede variar)
features = next(iter(data["objects"].values()))["geometries"]

names = [f["properties"].get("NOMBRE", f["properties"]) for f in features]
print(sorted(names))

['ANTONIO NARIÑO', 'BARRIOS UNIDOS', 'BOSA', 'CANDELARIA', 'CHAPINERO', 'CIUDAD BOLIVAR', 'ENGATIVA', 'FONTIBON', 'KENNEDY', 'LOS MARTIRES', 'PUENTE ARANDA', 'RAFAEL URIBE URIBE', 'SAN CRISTOBAL', 'SANTA FE', 'SUBA', 'SUMAPAZ', 'TEUSAQUILLO', 'TUNJUELITO', 'USAQUEN', 'USME']