In [19]:
import pandas as pd

In [26]:
iboca = pd.read_excel(r'Datos_aire/IBOCA-PM10-2020-1.xlsx', skiprows=4)

In [27]:
iboca = iboca.iloc[:-3]
iboca.tail(20)

,Unnamed: 0,Bolivia,Unnamed: 2,Unnamed: 3,Carvajal - Sevillana,Unnamed: 5,Unnamed: 6,Ciudad Bolívar,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Usaquen,Unnamed: 50,Unnamed: 51,Usme,Unnamed: 53,Unnamed: 54,CDAR,Unnamed: 56,Unnamed: 57
4351,2024-06-30 05:00:00,11,10.84,45.15,22,20.42,68.5,10,9.82,40.92,...,53.93,Sin data,Sin data,Sin data,Sin data,1.6,6.66,9,8.38,34.91
4352,2024-06-30 06:00:00,13,11.92,49.66,21,20.71,69.11,7,8.41,35.04,...,59.72,Sin data,Sin data,Sin data,1,1.3,5.41,7,7.69,32.04
4353,2024-06-30 07:00:00,10,10.96,45.66,17,18.85,65.2,6,7.2,30.02,...,57.36,Sin data,Sin data,Sin data,4,2.65,11.03,6,6.84,28.52
4354,2024-06-30 08:00:00,9,9.98,41.58,24,21.43,70.61,5,6.1,25.42,...,Sin data,Sin data,Sin data,Sin data,6,4.32,18.01,7,6.92,28.84
4355,2024-06-30 09:00:00,12,10.99,45.79,17,19.21,65.96,4,5.05,21.04,...,33.46,Sin data,Sin data,Sin data,9,6.66,27.75,6,6.46,26.91
4356,2024-06-30 10:00:00,9,10.04,41.85,6,12.6,52.06,4,4.52,18.85,...,18.8,Sin data,Sin data,Sin data,6,6.33,26.38,5,5.73,23.87
4357,2024-06-30 11:00:00,7,8.5,35.41,7,9.8,40.83,4,4.26,17.75,...,19.81,Sin data,Sin data,Sin data,Sin data,3.16,13.18,5,5.47,22.8
4358,2024-06-30 12:00:00,5,6.75,28.12,11,10.4,43.33,10,7.13,29.71,...,20.32,Sin data,Sin data,Sin data,Sin data,1.58,6.59,8,6.59,27.48
4359,2024-06-30 13:00:00,13,9.87,41.14,24,17.2,61.73,13,10.07,41.94,...,14.32,Sin data,Sin data,Sin data,2,1.79,7.46,7,6.77,28.23
4360,2024-06-30 14:00:00,10,9.94,41.4,8,12.6,52.05,10,10.03,41.8,...,7.16,Sin data,Sin data,Sin data,5,3.39,14.15,7,6.87,28.65
4361,2024-06-30 15:00:00,7,8.47,35.28,28,20.3,68.25,7,8.52,35.48,...,9.82,Sin data,Sin data,Sin data,2,2.7,11.24,6,6.49,27.02
4362,2024-06-30 16:00:00,8,8.23,34.31,30,25.15,78.45,6,7.26,30.24,...,29.91,Sin data,Sin data,Sin data,3,2.85,11.87,6,6.27,26.12
4363,2024-06-30 17:00:00,6,7.12,29.65,22,23.58,75.13,12,9.63,40.12,...,48.29,Sin data,Sin data,Sin data,6,4.43,18.44,5,5.82,24.23
4364,2024-06-30 18:00:00,4,5.56,23.15,16,19.79,67.17,11,10.32,42.98,...,44.97,Sin data,Sin data,Sin data,1,2.71,11.3,5,5.51,22.95
4365,2024-06-30 19:00:00,11,8.28,34.49,30,24.9,77.91,9,9.66,40.24,...,45.4,Sin data,Sin data,Sin data,4,3.36,13.98,5,5.32,22.15
4366,2024-06-30 20:00:00,11,9.64,40.16,14,19.45,66.45,9,9.33,38.87,...,37.28,Sin data,Sin data,Sin data,7,5.18,21.58,5,5.19,21.64
4367,2024-06-30 21:00:00,9,9.32,38.83,12,15.72,58.62,12,10.67,44.44,...,31.14,Sin data,Sin data,Sin data,8,6.59,27.45,5,5.12,21.33
4368,2024-06-30 22:00:00,8,8.66,36.08,18,16.86,61.02,13,11.83,49.31,...,28.07,Sin data,Sin data,Sin data,7,6.79,28.31,6,5.45,22.71
4369,2024-06-30 23:00:00,6,7.33,30.54,29,22.93,73.78,14,12.92,52.72,...,24.45,Sin data,Sin data,Sin data,7,6.9,28.74,6,5.66,23.58
4370,2024-07-01 00:00:00,7,7.17,29.85,20,21.47,70.7,10,11.46,47.75,...,30.98,Sin data,Sin data,Sin data,12,9.45,39.38,7,6.01,25.03

In [29]:
iboca = iboca.rename(columns={'Unnamed: 0': 'Fecha'})

In [30]:
iboca.head()

,Fecha,Bolivia,Unnamed: 2,Unnamed: 3,Carvajal - Sevillana,Unnamed: 5,Unnamed: 6,Ciudad Bolívar,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Usaquen,Unnamed: 50,Unnamed: 51,Usme,Unnamed: 53,Unnamed: 54,CDAR,Unnamed: 56,Unnamed: 57
0,Fecha & Hora,PM2.5 µg/m3,NaN,NaN,PM2.5 µg/m3,NaN,NaN,PM2.5 µg/m3,NaN,NaN,...,NaN,PM2.5 µg/m3,NaN,NaN,PM2.5 µg/m3,NaN,NaN,PM2.5 µg/m3,NaN,NaN
1,NaN,Concentración,NowCast,IBOCA,Concentración,NowCast,IBOCA,Concentración,NowCast,IBOCA,...,IBOCA,Concentración,NowCast,IBOCA,Concentración,NowCast,IBOCA,Concentración,NowCast,IBOCA
2,2024-01-01 00:00:00,26,24.16,76.36,48,37.97,107.09,43,41.63,116.11,...,93.64,23,23.41,74.78,35,34.25,97.57,Sin data,Sin data,Sin data
3,2024-01-01 01:00:00,23,23.58,75.14,72,54.99,148.99,Sin data,Sin data,Sin data,...,57.12,86,59.2,152.89,27,25.2,78.56,34,34.13,97.32
4,2024-01-01 02:00:00,18,20.79,69.27,116,85.51,166.36,Sin data,Sin data,Sin data,...,31.27,48,53.6,145.57,37,31.11,90.97,72,53.07,144.27