In [1]:
import pandas as pd

In [3]:
df_sisaire = pd.read_csv(r"C:\Users\laura\Downloads\[IN] Datos Salud Ambiental 2025-2\Datos\SISAIRE-CO-2023.csv")
df_iboca = pd.read_excel(r"C:\Users\laura\Downloads\[IN] Datos Salud Ambiental 2025-2\Datos\IBOCA-PM10-2020-1.xlsx")
df_doc_grupos = pd.read_csv(r"C:\Users\laura\Downloads\52c8df7b-959d-41c0-b673-7dd7ed291118.csv")
df_doc = pd.read_csv(r"C:\Users\laura\Downloads\8f26d5f3-ae99-4061-b5cb-0a2e4a73f77e.csv")

In [5]:
df_sisaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141182 entries, 0 to 141181
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Estacion       141182 non-null  object
 1   Fecha inicial  141182 non-null  object
 2   Fecha final    141182 non-null  object
 3   CO             141182 non-null  float64
dtypes: float64(1), object(3)
memory usage: 4.3+ MB

In [6]:
df_sisaire.describe()

                  CO
count  141182.000000
mean      631.718745
std       445.440268
min         0.000000
25%       343.470000
50%       492.662000
75%       801.430000
max      5953.480000

In [12]:
#df_doc_grupos.info()

In [13]:
#df_doc_grupos.describe()

In [10]:
df_doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   _id                                       1311 non-null   int64
 1   Ano encuesta                              1311 non-null   int64
 2   Localidad                                 1311 non-null   object
 3   Sexo                                      1311 non-null   object
 4   Aseguramiento                             1311 non-null   object
 5   Estrato                                   1311 non-null   int64
 6   Casos de sibilancia ultimo ano            1311 non-null   int64
 7   Casos de tos ultimo ano diferente gripa   1311 non-null   int64
 8   Casos de mocos o nariz tapada ultimo ano  1311 non-null   int64
 9   Casos de ausentismo escolar               1311 non-null   int64
 10  Casos de asistencia al colegio            1311 non-null   int64
 11  Registros                                 1311 non-null   int64
dtypes: int64(9), object(3)
memory usage: 123.0+ KB

In [11]:
df_doc.describe()

,_id,Ano encuesta,Estrato,Casos de sibilancia ultimo ano,Casos de tos ultimo ano diferente gripa,Casos de mocos o nariz tapada ultimo ano,Casos de ausentismo escolar,Casos de asistencia al colegio,Registros
count,1311.000000,1311.000000,1311.000000,1311.000000,1311.000000,1311.000000,1311.000000,1311.000000,1311.000000
mean,656.000000,2021.029748,2.382151,0.913806,1.012967,2.497330,0.646072,4.947368,12.944317
std,378.597412,1.410928,0.913655,1.769819,2.314702,4.599514,1.435051,7.397718,19.911463
min,1.000000,2019.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,328.500000,2020.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
50%,656.000000,2021.000000,2.000000,0.000000,0.000000,1.000000,0.000000,2.000000,4.000000
75%,983.500000,2022.000000,3.000000,1.000000,1.000000,3.000000,1.000000,6.500000,16.000000
max,1311.000000,2023.000000,6.000000,16.000000,26.000000,37.000000,13.000000,52.000000,144.000000